html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  --max-height-transition: max-height 0.5s ease-in-out;
  --opacity-transition: opacity 0.5s ease-in-out;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

body {
  min-width: 360px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.theme-button {
  position: fixed;
  top: 20px;
  left: 16px;
  z-index: 20;
}

.site-container {
  max-width: 1600px;
  margin: 0 auto;
}

.inner-wrapper {
  display: flex;

  width: 100%;
}

.filter-wrapper {
  min-width: 350px;
  min-height: 100vh;
  margin-right: 20px;
}

.developer-filter {
  position: fixed;
  top: 70px;
  left: 16px;
  z-index: 10;

  width: 340px;
  max-height: 320px;

  overflow: hidden;
  transition: var(--max-height-transition);
}

.developer-filter.visible {
  max-height: 600px;
  transition: var(--max-height-transition);
}

.extra-actions {
  margin-top: 20px;

  opacity: 0;
  transition: var(--opacity-transition);
}

.extra-actions.visible {
  opacity: 1;
  transition: var(--opacity-transition);
}

.skill-filter-title,
.grade-filter-title {
  margin: 0;
  margin-bottom: 15px;
}

.clear-filters-btn {
  margin-top: 25px;
}

.developer-list-wrapper {
  max-width: 400px;
  padding-top: 70px;
}
